<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmployeeManagement.LINQ.Properties.Settings.TrainingConnectionString"
            connectionString="Data Source=DESKTOP-K98E5UF\MYSQLSERVER;Initial Catalog=Training;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>